.container {
  max-width: 412px;
  width: 100%;
  height: 416px;
  border-radius: 30px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 32px;
  
}
